[submodule "bcore"]
	path = lib/bcore
	url = https://github.com/Byron/bcore.git
	branch = master
[submodule "pgit"]
	path = lib/pgit
	url = https://github.com/Byron/pgit
	branch = master
[submodule "git-python"]
	path = lib/git-python
	url = https://github.com/gitpython-developers/GitPython
	branch = 0.3
